body {
  margin: 0;
  font-family: Arial;
  background: #f4f6f8;
}

/* NAVBAR */

.navbar {
  background: #111827;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-title {
  font-size: 20px;
  font-weight: bold;
}

/* MAIN */

.container {
  max-width: 800px;
  margin: 30px auto;
  background: white;
  padding: 25px;
  border-radius: 10px;
}

.title {
  font-size: 26px;
  font-weight: bold;
}

.subtitle {
  color: gray;
  margin-bottom: 20px;
}

/* FORM */

.input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  margin-top: 5px;
}

.button {
  background: #2563eb;
  color: white;
  padding: 12px;
  border: none;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background: #1d4ed8;
}

.result {
  background: #f9fafb;
  padding: 15px;
  margin-top: 20px;
  white-space: pre-wrap;
}


